.holder{
  margin: 0 auto;
}

.holder{
  margin-top: 35px;
  width:90%;
  margin-left:250px;
  margin-right:250px;

}
.btn{
  width:15%;
}

.label{
  margin-left:250px;
  margin-right:250px;
  height: 100px;
  width:400px;
  font-size: 5em;
}
